 
:root{
    --bg-color:#233142;
    --second-bg-color:#455d7a;
    --text-color:#e3e3e3;
    --main-color: #f95959;
}

.header .h1{
    text-align: center;
}

.span, .title{
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--main-color);
    position: relative;
    top: 0;
}

.span, .title2{
    color: var(--second-bg-color);
}

.h3, .content{
    color: var(--text-color);
    position: relative;
    top: 10%;
    text-align: center;
    margin-bottom: 20px;
}

.formfield {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the form horizontally */
    margin-top: 20px;
}

.searchbox {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 8px;
    background-color: var(--text-color);
}

button {
    padding: 10px 15px;
    background-color: var(--main-color); /* Adjust the background color as needed */
    color: #fff; /* Adjust the text color as needed */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #f83434; /* Adjust the hover background color as needed */
}

/* Add your styles here */
.results-container {
    margin-top: 10px;
}
  
.grid-container {
    margin-top: 6px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Updated property */
    gap: 8px;
}
  
.result-item {
    padding-top: 6px;
}
  
.result-content {
    overflow: hidden;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 4px;
    margin-top: -6px;
}
  
.image-container {
    display: flex;
    justify-content: center;
}
  
.result-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
  
.text-container {
    text-align: center;
    justify-content: center;
    align-items: center;
}
  
.result-title {
    margin-top: 4px;
    font-size: 1.25rem;
    font-weight: bold;
    word-break: break-word;
    overflow-x: auto;
    color: var(--text-color);
}
  
.result-artist {
    margin-top: 2px;
    font-size: 0.875rem;
    color: #555;
    display: block;
}
  
.result-button {
    margin-top: 5px;
    font-size: 1rem;
    color: var(--text-color);
}
  
.lyrics-container {
    margin-top: 10px;
    max-width: 2xl;
}
  
.lyrics-title {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
    color: #007bff;
}
  
.lyrics-text {
    margin-top: 6px;
    line-height: 1.5;
    color: #333;
    font-size: 1.5rem;
}
  
.attribution-container {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
  
.attribution-text {
    font-size: 0.875rem;
    color: #007bff;
}
  
.attribution-link {
    color: #007bff;
}
  
.attribution-link:hover {
    color: #0056b3;
}
  